
.HBOX_Background {
	-fx-background-image: url("../images/background.png");
	-fx-background-size: 100% 100%;
}
.anchor_Pane {
    -fx-background-color: #ffffff;
  }
.more_button {
    -fx-background-color: #23a885;
    -fx-background-size: 100% 100%; 
    -fx-border-width: 0;       
    -fx-background-insets: 0;   
}
.more_button:hover {
    -fx-background-color: #30ecbae5; 
}
.more_button:focused {
    -fx-focus-color: transparent; 
}
.delete_button {
    -fx-background-color: #188e6f;
    -fx-background-image: url("../images/delete.png");
    -fx-background-size: 20% 50%; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: right ;
    -fx-border-width: 0;       
    -fx-background-insets: 0;    
}
.delete_button:hover {
    -fx-background-color: #30ecbae5;
}
.delete_button:focused {
    -fx-focus-color: transparent;
}
.separator { 
    -fx-background-color: #cbcfceb3; 
}
.listview {
    -fx-background-color: /*linear-gradient(to left, #d2ebffe4, #c6dff3e4);*/white;
}

