.addFriend {
	-fx-background-image: url("../images/addFriendBackground.png");
	-fx-background-size: 100% 100%;
}
/* Buttons */
.button {
    -fx-background-color: #0e4ece; /* Primary1 color */
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-border-radius: 24px; /* Button radius */
    -fx-background-radius: 24px; /* Button radius */
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #ffffff; /* Primary2 color on hover */
}
.textField {
    -fx-background-color: linear-gradient(to left, #0e4ecead, #0a3385ad);

}

.textField:hover{
    -fx-border-color:#ffffff; /* Change border color on hover */
}

