.HBox_Background {
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 100% 100%;
}

.anchor_Pane {
   /* -fx-background-color: linear-gradient(to left, #e3e4ebe4, #e3e4ebe4);*/
   -fx-background-color: linear-gradient(to left, #f7f3f3, #fefefe);
  }
.button {
    -fx-background-color: #0ece7b; /* Primary1 color */
    -fx-text-fill: #ffffff; /* White text */


}
.button:hover {
    -fx-background-color: #5dc0a5; /* Primary2 color on hover */
}
.separator { 
    -fx-background-color: #1729b2e4;

}
.listview {
    /*-fx-background-color: linear-gradient(to left, #d0d0d0e4, #cbcbcb);*/
    -fx-background-color: linear-gradient(to left, #e4ebedc9, #c8cecec9);
 }
 .text_Field {
    -fx-background-color: linear-gradient(to left, #e4ebedc9, #c8cecec9);

 }
