.left_pane {
  -fx-background-color: linear-gradient(to top, #0e4ece, #89CFF0);
}

.top_pane {
  -fx-background-color: linear-gradient(to left, #0e4ece, #89CFF0);
}

.stack_pane {
	-fx-background-image: url("../images/background2.png");
	-fx-background-size: 100% 100%;
}
.button {
  -fx-background-color: #0c9358f3; 

}
.button:hover {
  -fx-background-color: #47ba9c; 
}
