.left_pane {
  -fx-background-color: linear-gradient(to top, #0e4ece, #89CFF0);
}

.top_pane {
  -fx-background-color: linear-gradient(to top, #0e4ece, #89CFF0);
}

.chats {
  -fx-background-color: linear-gradient(45deg, #0000FF, #89CFF0);
}
.gradient-pane {
  -fx-background-color: linear-gradient(to bottom right, #ffffffd7, #fffffff1);
}
